---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import PokemonCard from '../components/PokemonCard.astro'

const response = await fetch ("http://pokeapi.com/api/v2/pokemon?limit=100").then((res) => res.json())
const pokemons = response.results.map((data,index)=>{
  return{
    name: data.name,
    id: index +1,
    image:`https://raw.githubusercontent.com/PokeAPI/sprites/pokemons/${index +1}.png`
  }
});
  console.log(pokemons);
---

<DefaultLayout title="ALESSANDRO VOLTA">
  <Hero />
      <main class="grid md:grid-cols-4 grid cols-2 gap-4 p-2">
        {pokemons.map((pokemon)=>
        <PokemonCard {pokemon}/> )}
      </main>
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl text-gradiente">Figuras Profesionales</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:desktop-classic" title="INFORMÁTICA">
          Optimizar el tratamiento de la información mediante el procesamiento automático, 
          utilizando lenguajes de programación, bases de datos, herramientas ofimáticas...
        </Feature>
        <Feature icon="mdi:mechanic" title="ELECTROMECÁNICA AUTOMOTRIZ">
          Realizar el diagnóstico, mantenimiento y reparación de motores de combustión interna; tren de rodaje; sistemas eléctricos-electrónicos; de seguridad y confortabilidad...
        </Feature>
        <Feature icon="icon-park-outline:buy" title="COMERCIALIZACIÓN Y VENTAS">
          Realizar el almacenamiento, la expedición y la venta de productos y/o servicios en el ámbito local y/o nacional, aplicando planes de actuación comercial...
          
        </Feature>
        <Feature icon="ic:outline-home-work" title="CIENCIAS GENERALES">
          Formarse en conocimientos, habilidades y aptitudes Participación en una sociedad democrática, para el mundo laboral o del emprendimiento.
        </Feature>
        <Feature icon="healthicons:electricity" title="ELECTRÓNICA DE CONSUMO">
          Instalar, mantener y reparar equipos y sistemas electrónicos de audio e imagen, microinformáticos, microprocesados y telefonía realizando el servicio técnico en condiciones de calidad y tiempo de respuesta adecuado...
        </Feature>
        <Feature icon="mdi:flash" title="INSTALACIONES DE EQUIPOS Y MÁQUINAS ELÉCTRICAS">
          Instalación y mantenimiento de servicios eléctricos específicos incluido los sistemas automatizados...
        </Feature>
      </div>
    </div>
  </section>
  <style lang="scss">
    .text-gradient {
      background: #15297c;
      background-clip: border-box;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  
  </style>
  
