---
let {pokemon} = Astro.props
---
<img
    class="flex flex-col w-full items-center border-yellow-500 border rounded-2xl hover:bg-gray-200 cursor-pointer"
    <img> 
    class="w-28"
    src={pokemon.image}
    />
    <h4>{pokemon.name}</h4>